<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body style="background:#ffffff !important; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color:#666666">
  <style class="float-center" type="text/css"></style><span class="preheader"></span>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-2195009-27', 'auto', {
      name: "foundation"
    });
    ga('foundation.send', 'pageview');

    ga('create', 'UA-2195009-47', 'auto', {
      name: "foundation_emails"
    });
    ga('foundation_emails.send', 'pageview');
  </script>
  <table class="body" style="background:#ffffff!important">
    <tbody>
      <tr>
        <td align="center" class="center" valign="top">
          <center data-parsed="">
            <table align="center" class="container header float-center" style="background-color: #5499c3; color:#ffffff; width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <table class="row" style="width: 100%;">
                      <tbody>
                        <tr>
                          <th class="small-12 large-12 columns first last">
                            <table style="width: 100%;">
                              <tbody>
                                <tr>
                                  <th>
                                    <h4 class="text-center" style="margin-bottom: 0px;">Welcome to</h4>
                                    <h1 class="text-center" style="margin-top: 0px;">Bookinesia</h1>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" class="container body-border float-center" style="border-top:8px solid #EAEAEA">
              <tbody>
                <tr>
                  <td>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-5 columns first last">
                            <table>
                              <tbody>
                                <tr>
                                  <th style="text-align: left;">
                                    <div style="font-size: 1.5em; margin-top: 0.5em; text-transform: capitalize;">Hi {{name}},</div>
                                    <center data-parsed=""><img align="center" class="float-center" style="min-height: 10em; max-width: 15em;" src="https://firebasestorage.googleapis.com/v0/b/bookinesia-com.appspot.com/o/0.general%2Fthank_you.gif?alt=media&token=61e2b285-1655-44ab-8f2a-6989c932db67" alt="thank-you"></center>
                                    <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">We would like to say thank you for signing up. We built Bookinesia to help customer easily connect with their favourite service provider in Indonesia.</div>
                                    <div style="color: #666666; font-size: 1em;line-height: 1.2;text-align: justify; margin-bottom: 1em; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal;">We are currently focusing to expand our partnership with on-demand service providers in beauty industry in Indonesia and we hope you have a pleasant booking experience.</div>
                                    <div style="font-size: 1em;line-height: 1.2;text-align: justify; font-weight: bold; font-style: normal; font-stretch: normal; letter-spacing: normal; margin-bottom: 0.1em;">Cheers,</div>
                                    <div style="font-size: 1em;line-height: 1.2;text-align: justify; font-weight: normal; font-style: normal; font-stretch: normal; letter-spacing: normal; margin-bottom: 0.1em">Bookinesia Team</div>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;</div>
</body>

</html>